@model BloodDonarApplication.BloodDonationModal.Registertbl

@{
    ViewData["Title"] = "EditDonars";
}

<body>
    <br />
    <h1 class="text-center" style="font-family: Harlow Solid; color: black;">Edit Details</h1><br />
    <form asp-action="EditDonars">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-10" style="margin-left: 60%; margin-right: auto; background-color: #0a3452; padding: 20px; border-radius: 5px; color: white; font-family: Calibri; font-size: large; border: 2px solid ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bloodgroup" class="control-label"></label>
                        <select asp-for="Bloodgroup" class="form-control">
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="A1+">A1+</option>
                            <option value="A1-">A1-</option>
                            <option value="A1B+">A1B+</option>
                            <option value="A1B-">A1B-</option>
                            <option value="A2+">A2+</option>
                            <option value="A2-">A2-</option>
                            <option value="A2B+">A2B+</option>
                            <option value="A2B-">A2B-</option>
                        </select>
                        <span asp-validation-for="Bloodgroup" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <br /><br />
                    <div class="form-group text-center">
                        <input type="submit" value="Save Changes" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
