@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="color: black;">
    <br />
    <div>
        <h1 style="color: red; font-family: Harlow Solid; color: black; text-align: center; text-decoration: underline;">Blood Donars Eligibility</h1>
        <br />
        <p>To ensure the safety of both patients and donors, these are some of the requirements donors must meet to be eligible to donate blood based on their donation type.</p>
    </div>
    <br />
    <div class="card" style="background-color: #0a3452; color: white; border: 2px solid white;">
        <div class="card-header" style="border-bottom: 1px solid white">
            <h4>Who can give blood</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <p>Most people can give blood. You can give blood if you:</p>
                    <ul style="font-style: normal; padding-left: 15px;">
                        <li>are fit and healthy</li>
                        <li>weigh between 7 stone 12 lbs and 25 stone, or 50kg and 158kg</li>
                        <li>are aged between 17 and 66 (or 70 if you have given blood before)</li>
                        <li>are over 70 and have given a full blood donation in the last two years</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <img src="~/images/eligibility1.jpg" width="300" height="200" alt="" style="max-width: 100%; display: block; height: auto; border-radius: 10px; border: 1px solid black;" />
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="card" style="background-color: #0a3452; color: white; border: 2px solid white;">
        <div class="card-header" style="border-bottom: 1px solid white">
            <h4>Whole Blood Donation</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <img src="~/images/eligibility2.jpg" width="200" height="150" alt="" style="max-width: 100%; display: block; height: auto; border-radius: 10px; border: 1px solid black;" />
                </div>
                <div class="col-sm-7">
                    <p>Most people can give blood. You can give blood if:</p>
                    <ul style="font-style: normal">
                        <li>Donation frequency: Every 56 days</li>
                        <li>You must be in good health and feeling well</li>
                        <li>You must be at least 16 years old in most states</li>
                        <li>You must weigh at least 110 lbs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="card" style="background-color: #0a3452; color: white; border: 2px solid white;">
        <div class="card-header" style="border-bottom: 1px solid white">
            <h4>When to give Blood</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <p>You should not be suffering from any of the following diseases or taking medicines for them</p>
                    <ul style="font-style: normal; padding-left: 15px;">
                        <li>Hepatitis B, C</li>
                        <li>Kidney disease</li>
                        <li>Heart disease</li>
                        <li>Pregnancy (within the last 6 months)</li>
                        <li>Major Surgery (within the last 3 months)</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <img src="~/images/eligibility3.jpg" width="400" height="250" alt="" style="max-width: 100%; display: block; height: auto; border-radius: 10px; border: 1px solid black;" />
                </div>
            </div>
        </div>
    </div>
    @*<div class="card img-responsive">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>Who can give blood</h3>
                        <p></p>
                        <p>Most people can give blood. You can give blood if you:</p>
                        <ul style="font-style: normal">
                            <li>are fit and healthy</li>
                            <li>weigh between 7 stone 12 lbs and 25 stone, or 50kg and 158kg</li>
                            <li>are aged between 17 and 66 (or 70 if you have given blood before)</li>
                            <li>are over 70 and have given a full blood donation in the last two years</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <img src="~/images/eligibility1.jpg" width="300" height="200" alt="" class="img-responsive" style="border-radius: 10px; border: 1px solid black;" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card img-responsive">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="~/images/eligibility2.jpg" width="300" height="200" alt="" class="img-responsive" style="border-radius: 10px; border: 1px solid black;" />
                    </div>
                    <div class="col-sm-7">
                        <h3>Whole Blood Donation</h3>
                        <p></p>
                        <ul style="font-style: normal">
                            <li>Donation frequency: Every 56 days</li>
                            <li>You must be in good health and feeling well</li>
                            <li>You must be at least 16 years old in most states</li>
                            <li>You must weigh at least 110 lbs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card img-responsive">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>When to give Blood</h3>
                        <p></p>
                        <p>You should not be suffering from any of the following diseases or taking medicines for them</p>
                        <ul style="font-style: normal">
                            <li>Hepatitis B, C</li>
                            <li>Kidney disease</li>
                            <li>Heart disease</li>
                            <li>Pregnancy (within the last 6 months)</li>
                            <li>Major Surgery (within the last 3 months)</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <img src="~/images/eligibility3.jpg" width="300" height="200" alt="" class="img-responsive" style="border-radius: 10px; border: 1px solid black;" />
                    </div>
                </div>
            </div>
        </div>*@
</div>